.nav{
    display: flex;
    ul{
        display: flex;
        list-style: none;
        align-items: center;
        li{
            padding: 10px;
            border-right: 1px solid $white;
        }
        li:last-child{
            border-right: none;
        }
    }
    a{
        text-decoration: none;
        color: $white;
    }
    a:hover{
        color: $yellow;
    }
}

.nav-primary{
    justify-content: space-between;
    border-bottom: 1px solid $white;
    h1{
        font-size: 3em;
    }
}

.nav-slider-buttons{
    justify-content: center;
    padding-bottom: 60px;
}