.container{
    width: 80%;
    margin: 0 auto;
    @include tablet{
        width: 100%;
    }
    @include mobileL{
        overflow: hidden;
    }
}

.row{
    width: 100%;
    position: absolute;
    top: 0;
}

.hidden{
    display: none;
}

.block{
    display: block;
}